:root{
  --clr-primary: #755272;

  --clr-secondary: #3e6041;
  --clr-secondary-lighter: #8ea58f;
  --clr-secondary-active: #486b4b;
}

*,*::before, *::after{
  box-sizing: border-box;
}

html{
  color-scheme: dark light;
  background-color:var(--clr-primary);

}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, svg, video{
  display: block;
  max-width: 100%;
}


button{
  font-family: 'Roboto', sans-serif;
  min-width: fit-content;
  width: 10rem;
  height: 3rem;
  border-radius: 1em;
  border:0;
  transform: scale(1);
  transition: transform 200ms ease-out;
}
.btn-secondary{
  background-color: var(--clr-secondary);
  color: white;
}
.btn-secondary:hover{
  background: var(--clr-secondary-lighter);
  color: black;
  transform: scale(1.1);
}

.btn-secondary:active{
  transform:scale(0.9);
  background: var(--clr-secondary-active);
  color: white;
}

blockquote{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  position: relative;
}
blockquote::before{
  content: open-quote;
  font-size: 120%;
  color: var(--clr-secondary-lighter);
}
blockquote::after{
  content: close-quote;
  font-size: 120%;
  position:absolute;
  color: var(--clr-secondary-lighter);
}

.text-center{
  text-align: center;
}

